node_modules/
examples/
**/dest
**/lib
types/
!types/index.d.ts
test/kitchen-sink-dist
coverage
jest_html_reporters.html
package-lock.json
*.log
TODO
___mv3-scripts
**/chromium-data-dir/
test/**/dist/
