# Artifacts
**/tests/**/.vite
**/tests/**/dist*
**/tests/artifacts
.vscode
**/chromium-data-dir-*
tests/e2e/mv3-*-hmr/src
**/__diff_output__
TODO
pnpm-global
__image_snapshot_diffs__
tests/e2e/mv3-*-hmr/src


.DS_Store
node_modules
!**/glob-import/dir/node_modules
dist
dist-ssr
TODOs.md
*.log
*.local
packages/vite/LICENSE