name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment: production
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.2.15"

      - name: Cache bun modules
        uses: actions/cache@v4
        env:
          cache-name: cache-bun-modules
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/bun.lock') }}
          restore-keys: ${{ runner.os }}-${{ env.cache-name }}-

      - name: Install dependencies
        run: bun install

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: bun run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      # - if: steps.changesets.outputs.published == 'true'
      #   name: Github Releases To Discord
      #   uses: sillyangel/releases-to-discord@v1
      #   with:
      #     webhook_url: ${{ secrets.WEBHOOK_URL }}
      #     color: "2105893"
      #     username: "Release Changelog"
      #     avatar_url: "https://cdn.discordapp.com/avatars/487431320314576937/bd64361e4ba6313d561d54e78c9e7171.png"
      # FIXME: https://github.com/crxjs/chrome-extension-tools/actions/runs/13581366932/job/37967884502
