# This is a basic workflow to help you get started with Actions

name: Rollup Plugin CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [main]
    paths:
      - "packages/rollup-plugin/**"
      - ".github/workflows/rollup-plugin.yml"
      - "!**.md"
  pull_request:
    branches: [main]
    paths:
      - "packages/rollup-plugin/**"
      - ".github/workflows/rollup-plugin.yml"
      - "!**.md"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

defaults:
  run:
    working-directory: "packages/rollup-plugin"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  lint:
    name: Linter

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.2.15"

      - name: Check CWD
        run: node -e "console.log('cwd', process.cwd())"

      - name: Cache bun modules
        uses: actions/cache@v3
        env:
          cache-name: cache-bun-modules
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/bun.lock') }}
          restore-keys: ${{ runner.os }}-${{ env.cache-name }}-

      - name: Install dependencies
        run: bun install
        working-directory: .

      - name: Lint files
        run: bun run lint

  # This workflow contains a single job called "build"
  tests:
    name: Integration Tests

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        type: [mv2, mv3]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.2.15"

      - name: Check CWD
        run: node -e "console.log('cwd', process.cwd())"

      - name: Cache bun modules
        uses: actions/cache@v3
        env:
          cache-name: cache-bun-modules
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/bun.lock') }}
          restore-keys: ${{ runner.os }}-${{ env.cache-name }}-

      - name: Install dependencies
        run: bun install
        working-directory: .

      - name: Run ${{ matrix.type }} tests
        run: bun run test:ci:${{ matrix.type }}
